body {
    margin: 0;
    padding: 0;
    font-family: 'Euroforence', sans-serif;
}

/* Css do navbar responsivo */

nav {
    width: 100%;
    background-color: #333a56;
    text-align: right;
}

.logo {
    position: absolute;
    box-sizing: border-box;
    margin-left: 4%;
    margin-top: 3px;
}

.logo p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.logo a {
    text-decoration: none;
}

.logo span {
    color: #f6c60e;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover {
    background-color: #52FFB8;
}

ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background-color: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

@media (max-width:768px) {
    .toggle  {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
    }

    .active {
        display: block;
    }
}

@media (max-width:768px) {
    .content {
        height: 150vh;
    }
}

/* CSS do conteudo principal */

.content {
    position: absolute;
    overflow: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: #f5f5f5;
}

/* transform: translate(-50%, -50%); é oq ta salvando no responsivo, n apaga nem fudeno */

.botoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bot1, .bot2 {
    width: 300px;
    height: 90px;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 800;
}

.bot1 a, .bot2 a {
    color: #fffdfd;
    transition: all .3s ease;
}

.bot1 a:hover {
    color: #333a56;
} 

.bot2 a:hover {
    color: #52FFB8;
} 

.bot1 {
    background-color: #333a56;
    transition: all .3s ease-in;
    color: #fffdfd;
}

.bot1 a {
    text-decoration: none;
}
  
.bot1:hover {
    background: #52FFB8;
    color: #333a56;
    box-shadow: inset 0 0 0 3px #333a56;
}

.bot2 {
    background-color: #52FFB8;
    transition: all .3s ease-in;
    color: #fffdfd;
}

.bot2 a {
    text-decoration: none;
}
  
.bot2:hover {
    background: #333a56;
    color: #52FFB8;
    box-shadow: inset 0 0 0 3px #52FFB8;
}