.wrapper {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 90%;
   padding: 0 20px;
 }
  
 .contact-form {
   display: flex;
   max-width: 550px;
   margin: 0 auto;
   background: #333a56;
   padding: 30px;
   border-radius: 5px;
 }
  
 .input-fields {
   display: flex;
   flex-direction: column;
   margin-right: 4%;
 }
  
 .input-fields, .msg {
   width: 48%;
 }
  
 .input-fields .input, .msg textarea {
   margin: 10px 0;
   background: transparent;
   border: 0px;
   border-bottom: 2px solid #fff;
   padding: 10px;
   color: #fff;
   width: 100%;
 }
  
 .msg textarea {
   height: 212px;
 }
  
 ::-webkit-input-placeholder {
   color: #fff;
 }
 ::-moz-placeholder {
   color: #fff;
 }
 :-ms-input-placeholder {
   color: #fff;
 }
  
 .btn {
     background: #52FFB8;
     text-align: center;
     font-size: 12px;
     padding: 15px;
     border-radius: 5px;
     color: #fff;
     cursor: pointer;
     text-transform: uppercase;
     transition: all .5s ease;
 }

 .btn:hover {
    background: #fff;
    color: #333a56;
 }
  
 @media screen and (max-width: 768px) {
   .contact-form{
     flex-direction: column;
   }
   .msg textarea{
     height: 80px;
   }
   .input-fields, .msg{
     width: 100%;
   }
 }